body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
  margin-inline: auto;
  background: #fffb85;
}

code {
  font-family: "Open Sans", sans-serif;
}
